:root {
    --layout-color-light: #7FC7FF;
    --layout-color-ultralight: #dff1ff;
    --layout-color-dark: #082567;
    --gradient-color: #1164B4;
    --font-default: #FFFFFF;
    --font-theme: #1E2460;
    --lightest: #b7dcf8;
    --grey: #8f94a0;
}